/* menu.css */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FF4500; /* Naranja Brillante para el fondo del menú lateral */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF; /* Texto blanco para contraste */
    display: block;
}

.sidebar a:hover {
    color: #32CD32; /* Verde Lima para hover */
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #FFFFFF; /* Texto blanco para el botón de cierre */
}
