body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 20px; /* Ajuste del padding para mejor visualización */
    text-align: center; /* Alineación central del título */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.sidebar {
    height: 100%;
    width: 0; /* Menú inicialmente oculto */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #ccc;
    display: block;
}

.sidebar a:hover {
    color: #fff;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.media, .description, .reviews {
    padding: 20px;
    margin-top: 60px; /* Margen para evitar solapamiento con el header fijo */
}

.media {
    background-color: #eee; /* Un fondo más claro para resaltar el área */
}

.review {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    text-align: center; /* Alineación del texto */
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

footer button {
    background-color: #008000; /* Color verde para llamar la atención */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px; /* Tamaño de fuente más grande */
    cursor: pointer;
}
