body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4; /* Color de fondo general */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 60px 20px; /* Espaciado general para cada sección */
    margin-top: 50px; /* Margen superior para evitar solapamiento con el menú */
}

.media {
    background-color: #ddd; /* Fondo para destacar la sección */
    text-align: center;
}

.description {
    background-color: #fff;
    text-align: left;
    padding: 20px;
    margin: 20px 0; /* Espacio entre secciones */
}

.reviews {
    display: flex;
    justify-content: space-around;
}

.review {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%; /* Ajuste del ancho de cada reseña */
}

footer {
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-top: 20px;
    background: #333;
}

footer button {
    background-color: #008000; /* Color llamativo para el botón */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
