<!-- reviews.html -->
<div class="review-carousel">
    <div class="review-slide">
        <div class="review-item">Reseña 1: Lorem ipsum dolor sit amet...</div>
        <div class="review-item">Reseña 2: Lorem ipsum dolor sit amet...</div>
        <div class="review-item">Reseña 3: Lorem ipsum dolor sit amet...</div>
        <div class="review-item">Reseña 4: Lorem ipsum dolor sit amet...</div>
        <div class="review-item">Reseña 5: Lorem ipsum dolor sit amet...</div>
        <div class="review-item">Reseña 6: Lorem ipsum dolor sit amet...</div>
        <div class="review-item">Reseña 7: Lorem ipsum dolor sit amet...</div>
        <div class="review-item">Reseña 8: Lorem ipsum dolor sit amet...</div>
        <div class="review-item">Reseña 9: Lorem ipsum dolor sit amet...</div>
        <div class="review-item">Reseña 10: Lorem ipsum dolor sit amet...</div>
    </div>
</div>
